*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#121212;
    color:white;
}

.container{
    width:90%;
    max-width:1000px;
    margin:40px auto;
}

h1{
    text-align:center;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    color:#bbb;
    margin-bottom:30px;
}

.card{
    width:350px;
    margin:auto;
    background:#1f1f1f;
    padding:25px;
    border-radius:10px;
}

input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:none;
    border-radius:5px;
}

button{
    width:100%;
    padding:12px;
    background:#0078ff;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#005fd4;
}

.employees{
    margin-top:50px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    border:1px solid #444;
    padding:12px;
    text-align:left;
}

th{
    background:#222;
}